
    <title>P5</title>

<body>
    <div class="navi">
    <ul>
        <li><a href="/click-circle/">Click Circle</a></li>
        <li><a href="/realtime_circlock/">Clock</a></li>
        <li><a href="/connected-triangles/">Connected Triangles</a></li>
        <li><a href="/depth-scroll-text/">Depth Scroll Text</a></li>
        <li><a href="/maple-leaves/">Maple Leaves</a></li>
        <li><a href="/rolling-box/">Rolling Box</a></li>
        <li><a href="/square-waves/">Square Waves</a></li>
        <li><a href="/trend-diagram/">Trend Diagram</a></li>
        <li><a href="/endless_mondrian/">Endless Mondrian</a></li>
        <li><a href="/on-the-grid-01/">On the grid 01</a></li>
    
    </ul>
</div>
</body>

<style>
body {
    display: -webkit-flex;
    display: flex;
    justify-content: center;

    height: 800px;
    background-color: #cccccc;
    background-image: linear-gradient(#f2f2f2, #8c8c8c, #c4c4c4);
}

ul {
    list-style-type: none;
}

div.navi {

    color: black;
}

a {
 color: #004e60;
 font-size: 24px;

}
</style>




